//! **************************************************************************
// Written by: Map P.20131013 on Tue Mar 26 13:45:44 2019
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "T10" LEVEL 1;
COMP "rst" LOCATE = SITE "T9" LEVEL 1;
COMP "a" LOCATE = SITE "U16" LEVEL 1;
COMP "b" LOCATE = SITE "V16" LEVEL 1;
COMP "c" LOCATE = SITE "U15" LEVEL 1;
COMP "d" LOCATE = SITE "V15" LEVEL 1;
SCHEMATIC END;

